<div th:fragment="carousel">
    <div class="carousel-container" id = "carousel-container">
        <div class="carousel-slide" id = "carousel-slide">
            <img th:src="@{/images/slide/slide1.png}" alt="Slide 1">
            <img th:src="@{/images/slide/slide2.webp}" alt="Slide 2">
            <img th:src="@{/images/slide/슬라이드1.png}" alt="Slide 3">
        </div>
        <button class="carousel-prev" id="carousel-prev">&lt;</button>
        <button class="carousel-next" id="carousel-next">&gt;</button>
    </div>
</div>